In [2]:
#!/usr/bin/env python
import snowflake.connector

import time
import calendar

import hashlib as hashlib
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import sklearn
import sklearn.metrics as sm

from sklearn import datasets
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale
from mpl_toolkits.mplot3d import Axes3D

from snowflake.connector.pandas_tools import write_pandas
from snowflake.connector.pandas_tools import pd_writer
from hashlib import md5

from datetime import date, datetime, timedelta
from dateutil.parser import parse as dateParse

In [ ]:
#---------------------------------------
# For installing dependencies
#---------------------------------------
import sys
!{sys.executable} -m pip install "snowflake-connector-python[pandas]"
!{sys.executable} -m pip install "matplotlib"
!{sys.executable} -m pip install "scikit-learn"

In [3]:
#---------------------------------------
# CONNECT TO SNOWFLAKE
#---------------------------------------

con = snowflake.connector.connect(
    user='codestudio_samplefarm_evening',
    password='ikRsb9D00UNr',
    account='FT76388.ap-southeast-2',
    #warehouse='Main',
    database='AW_RESEARCH_STAGING',
    schema='SAMPLE_FARM_EVENING'
    )

In [ ]:
#---------------------------------------
# Test reaching the dataset
#---------------------------------------
con_cursor = con.cursor()
try:
    con_cursor.execute("SELECT * FROM AW_RESEARCH_STAGING.SAMPLE_FARM_EVENING.FARM_DETAILS")
    
    pd.set_option("max_rows", 100)
    
    df = con_cursor.fetch_pandas_all()
    
    print(df)
    
finally:
    con_cursor.close()

In [33]:
#---------------------------------------
# Test clustering algorithm
#---------------------------------------
con_cursor = con.cursor()

try:
    # List of regions to make personas for
    regions = ['Summer High Rainfall NSW / QLD', 
                'Summer Medium Rainfall NSW / QLD',
                'Low Rainfall NSW / QLD',
                'High Rainfall NSW',
                'Medium Rainfall NSW',
                'High Rainfall VIC / SA',
                'Medium Rainfall VIC / SA',
                'Low Rainfall VIC / SA',
                'High Rainfall TAS',
                'Summer Rainfall TAS',
                'Low Rainfall TAS',
                'Northern Australia Intensive Grazing Systems',
                'Northern Australia Pastoral Grazing',
                'Southern Australia High Rainfall',
                'Southern Australia Low Rainfall',
                'High Rainfall WA',
                'Low Rainfall WA']
    # Dictionary of dataframes that include a prediction column for each region
    clustered_regions = {}

    # Perform clustering on each region, add results to dictionary
    for region in regions:

        con_cursor.execute("SELECT \
        CREATION_DATES,\
        FARM_TOWN,\
        FARM_REGION_STATE,\
        PASTURE_COUNT,\
        TOTAL_ARABLE_LAND_SIZE,\
        AVERAGE_CROP_TYPE,\
        LANDMARK_COUNT,\
        TOP_LANDMARK,\
        INDIVIDUAL_ANIMAL_COUNT,\
        TOP_INDIVIDUAL_ANIMAL_MANAGEMENT_GROUP,\
        TOP_ANIMAL_WEANED_STATUS,\
        TOP_ANIMAL_SEX,\
        WEIGH_RECORD_COUNT_INDIVIDUAL,\
        WEIGH_RECORD_COUNT_GROUP,\
        INDIVIDUAL_WEIGHTS_JAN,\
        INDIVIDUAL_WEIGHTS_FEB,\
        INDIVIDUAL_WEIGHTS_MAR,\
        INDIVIDUAL_WEIGHTS_APR,\
        INDIVIDUAL_WEIGHTS_MAY,\
        INDIVIDUAL_WEIGHTS_JUN,\
        INDIVIDUAL_WEIGHTS_JUL,\
        INDIVIDUAL_WEIGHTS_AUG,\
        INDIVIDUAL_WEIGHTS_SEP,\
        INDIVIDUAL_WEIGHTS_OCT,\
        INDIVIDUAL_WEIGHTS_NOV,\
        INDIVIDUAL_WEIGHTS_DEC,\
        GROUP_WEIGHTS_JAN,\
        GROUP_WEIGHTS_FEB,\
        GROUP_WEIGHTS_MAR,\
        GROUP_WEIGHTS_APR,\
        GROUP_WEIGHTS_MAY,\
        GROUP_WEIGHTS_JUN,\
        GROUP_WEIGHTS_JUL,\
        GROUP_WEIGHTS_AUG,\
        GROUP_WEIGHTS_SEP,\
        GROUP_WEIGHTS_OCT,\
        GROUP_WEIGHTS_NOV,\
        GROUP_WEIGHTS_DEC\
        \
        FROM AW_RESEARCH_STAGING.SAMPLE_FARM_EVENING.FARM_DETAILS\
        \
        WHERE FARM_REGION = (%s)", (region))

        df = con_cursor.fetch_pandas_all()

        # Break if no farms found for region
        if df.empty:
            break 

        #---------------
        # Preprocessing
        #---------------
        # Encoding categorical variables
        df = pd.get_dummies(df, columns=
            ["FARM_TOWN", 
            "AVERAGE_CROP_TYPE", 
            "TOP_LANDMARK", 
            "TOP_INDIVIDUAL_ANIMAL_MANAGEMENT_GROUP", 
            "TOP_ANIMAL_WEANED_STATUS", 
            "TOP_ANIMAL_SEX"], 
            drop_first=True)
        
        # Replace NaN values with 0 by default
        df.fillna(0, inplace=True)
        
        #print(df)

        clustering_results = KMeans(n_clusters=2, random_state=10).fit_predict(df)

        # Append predictions
        df['PERSONA_PREDICTIONS'] = pd.Series(clustering_results, index=df.index)

        clustered_regions[region] = df

    print(clustered_regions)
finally:
    con_cursor.close()

{'Summer High Rainfall NSW / QLD':      CREATION_DATES  FARM_REGION_STATE  PASTURE_COUNT  TOTAL_ARABLE_LAND_SIZE  \
0     1499809500827                  0            390              22435.1400
1     1551935603789                  0              0                  0.0000
2     1558590184634                  0              0                  0.0000
3     1496714638425                  0             99               3487.0800
4     1506307596199                  0              1                 32.7300
..              ...                ...            ...                     ...
481   1480480108810                  0           4758             311577.2400
482   1527557934580                  0             16                515.9153
483   1501822703590                  0              0                  0.0000
484   1493185465248                  0            777              42050.8200
485   1529825462667                  0              2                389.1400

     LANDMARK_COUNT  INDIVIDUAL_ANIMAL_COUNT  WEIGH_RECORD_COUNT_INDIVIDUAL  \
0               390                        0                              0
1                 0                        0                              0
2                 0                        0                              0
3                99                        0                              0
4                 0                        0                              0
..              ...                      ...                            ...
481            4758                        0                              0
482               0                        0                              0
483               0                        0                              0
484             777                        0                              0
485               0                        0                              0

     WEIGH_RECORD_COUNT_GROUP  INDIVIDUAL_WEIGHTS_JAN  INDIVIDUAL_WEIGHTS_FEB  \
0                           0                     0.0                     0.0
1                           0                     0.0                     0.0
2                           0                     0.0                     0.0
3                           0                     0.0                     0.0
4                           0                     0.0                     0.0
..                        ...                     ...                     ...
481                         0                     0.0                     0.0
482                         0                     0.0                     0.0
483                         0                     0.0                     0.0
484                         0                     0.0                     0.0
485                         0                     0.0                     0.0

     ...  TOP_LANDMARK_PIPELINE  TOP_LANDMARK_POWER_LINES  \
0    ...                      0                         0
1    ...                      0                         0
2    ...                      0                         0
3    ...                      0                         0
4    ...                      0                         0
..   ...                    ...                       ...
481  ...                      0                         0
482  ...                      0                         0
483  ...                      0                         0
484  ...                      0                         0
485  ...                      0                         0

     TOP_LANDMARK_RAINGAUGE  TOP_LANDMARK_SILO  TOP_LANDMARK_TROUGH  \
0                         0                  0                    0
1                         0                  0                    0
2                         0                  0                    0
3                         0                  0                    0
4                         0                  0                    0
..                      ...                ...                  ...
481                       0                  0                    1
482                       0                  0                    0
483                       0                  0                    0
484                       1                  0                    0
485                       0                  0                    0

     TOP_LANDMARK_VEGETATION  TOP_LANDMARK_WATER TANK  \
0                          0                        0
1                          0                        0
2                          0                        0
3                          0                        0
4                          0                        0
..                       ...                      ...
481                        0                        0
482                        0                        0
483                        0                        0
484                        0                        0
485                        0                        0

     TOP_LANDMARK_WATER_TANK  TOP_INDIVIDUAL_ANIMAL_MANAGEMENT_GROUP_Ewes  \
0                          0                                            0
1                          0                                            0
2                          0                                            0
3                          0                                            0
4                          0                                            0
..                       ...                                          ...
481                        0                                            0
482                        0                                            0
483                        0                                            0
484                        0                                            0
485                        0                                            0

     PERSONA_PREDICTIONS
0                      1
1                      0
2                      0
3                      1
4                      1
..                   ...
481                    1
482                    0
483                    1
484                    1
485                    0

[486 rows x 279 columns], 'Summer Medium Rainfall NSW / QLD':      CREATION_DATES  FARM_REGION_STATE  PASTURE_COUNT  TOTAL_ARABLE_LAND_SIZE  \
0     1467161800441                  0            204              36720.3600
1     1571367920068                  0              0                  0.0000
2     1516149032008                  0              4                596.7894
3     1604552275989                  0              0                  0.0000
4     1536946843119                  0              0                  0.0000
..              ...                ...            ...                     ...
268   1469771289047                  0             12                508.5100
269   1543468920764                  0              0                  0.0000
270   1551224909271                  0              0                  0.0000
271   1553985799208                  0              0                  0.0000
272   1473916838210                  0            518              12271.4900

     LANDMARK_COUNT  INDIVIDUAL_ANIMAL_COUNT  WEIGH_RECORD_COUNT_INDIVIDUAL  \
0               204                        0                              0
1                 0                        0                              0
2                 0                        0                              0
3                 0                        0                              0
4                 0                        0                              0
..              ...                      ...                            ...
268               0                        0                              0
269               0                        0                              0
270               0                        0                              0
271               0                        0                              0
272             518                        0                              0

     WEIGH_RECORD_COUNT_GROUP  INDIVIDUAL_WEIGHTS_JAN  INDIVIDUAL_WEIGHTS_FEB  \
0                           0                     0.0                     0.0
1                           0                     0.0                     0.0
2                           0                     0.0                     0.0
3                           0                     0.0                     0.0
4                           0                     0.0                     0.0
..                        ...                     ...                     ...
268                         0                     0.0                     0.0
269                         0                     0.0                     0.0
270                         0                     0.0                     0.0
271                         0                     0.0                     0.0
272                         0                     0.0                     0.0

     ...  TOP_LANDMARK_GATES  TOP_LANDMARK_HAY_SHED  TOP_LANDMARK_LANEWAYS  \
0    ...                   0                      0                      0
1    ...                   0                      0                      0
2    ...                   0                      0                      0
3    ...                   0                      0                      0
4    ...                   0                      0                      0
..   ...                 ...                    ...                    ...
268  ...                   0                      0                      0
269  ...                   0                      0                      0
270  ...                   0                      0                      0
271  ...                   0                      0                      0
272  ...                   0                      0                      0

     TOP_LANDMARK_PIPELINE  TOP_LANDMARK_RAINGAUGE  TOP_LANDMARK_SILO  \
0                        0                       0                  0
1                        0                       0                  0
2                        0                       0                  0
3                        0                       0                  0
4                        0                       0                  0
..                     ...                     ...                ...
268                      0                       0                  0
269                      0                       0                  0
270                      0                       0                  0
271                      0                       0                  0
272                      0                       1                  0

     TOP_LANDMARK_TROUGH  TOP_LANDMARK_VEGETATION  TOP_LANDMARK_WATER_TANK  \
0                      0                        1                        0
1                      0                        0                        0
2                      0                        0                        0
3                      0                        0                        0
4                      0                        0                        0
..                   ...                      ...                      ...
268                    0                        0                        0
269                    0                        0                        0
270                    0                        0                        0
271                    0                        0                        0
272                    0                        0                        0

     PERSONA_PREDICTIONS
0                      1
1                      0
2                      1
3                      0
4                      0
..                   ...
268                    1
269                    0
270                    0
271                    0
272                    1

[273 rows x 148 columns], 'Low Rainfall NSW / QLD':     CREATION_DATES  FARM_REGION_STATE  PASTURE_COUNT  TOTAL_ARABLE_LAND_SIZE  \
0    1504666943574                  0            117            2.705074e+05
1    1567490958731                  0              0            0.000000e+00
2    1508270206226                  0              2            3.904420e+03
3    1502504233867                  0             29            4.324350e+04
4    1469340117594                  0           1392            1.679421e+06
5    1511474159295                  0              0            0.000000e+00
6    1556600153341                  0              0            0.000000e+00
7    1504666925663                  0              0            0.000000e+00
8    1499305352781                  0              2            8.616800e+02
9    1497742465754                  0            369            7.721142e+05
10   1559115608028                  0              0            0.000000e+00
11   1515043627968                  0              4            2.706913e+03
12   1595477188103                  0              0            0.000000e+00
13   1542501484693                  0              0            0.000000e+00
14   1533044377493                  0              0            0.000000e+00
15   1535525655377                  0              0            0.000000e+00
16   1494393186158                  0              0            0.000000e+00
17   1493957655761                  0            228            3.887099e+05
18   1494657851991                  0              1            1.766990e+03
19   1542073479868                  0              0            0.000000e+00
20   1565037576486                  0              0            0.000000e+00
21   1560053410250                  0              0            0.000000e+00
22   1520223860211                  0              0            0.000000e+00
23   1517620967047                  0             16            3.679667e+04
24   1556485367117                  0              0            0.000000e+00
25   1534305632569                  0              0            0.000000e+00
26   1503747117069                  0            511            4.072250e+03
27   1505860530753                  0              0            0.000000e+00
28   1511408171009                  0              1            6.728000e+01
29   1499219806274                  0              1            1.665902e+04
30   1568230848725                  0              0            0.000000e+00
31   1530520136518                  0              6            4.984860e+02
32   1493601104176                  0             24            4.381000e+02
33   1530617159260                  0              4            4.717583e+04
34   1516507780125                  0             47            3.913030e+04
35   1498898199361                  0             14            2.915726e+04
36   1595384528242                  0              2            2.598100e+02
37   1524459397355                  0              4            5.754763e+03
38   1531686977817                  0              0            0.000000e+00

    LANDMARK_COUNT  INDIVIDUAL_ANIMAL_COUNT  WEIGH_RECORD_COUNT_INDIVIDUAL  \
0              117                        0                              0
1                0                        0                              0
2                0                        0                              0
3               29                        0                              0
4             1392                        0                              0
5                0                        0                              0
6                0                        0                              0
7                0                        0                              0
8                0                        0                              0
9              369                        0                              0
10               0                        0                              0
11               0                        0                              0
12               0                        0                              0
13               0                        0                              0
14               0                        0                              0
15               0                        0                              0
16               0                        0                              0
17             228                        0                              0
18               0                        0                              0
19               0                        0                              0
20               0                        0                              0
21               0                        0                              0
22               0                        0                              0
23               0                        0                              0
24               0                        0                              0
25               0                        0                              0
26             511                        0                              0
27               0                        0                              0
28               1                        0                              0
29               0                        0                              0
30               0                        0                              0
31               0                        0                              0
32               0                        0                              0
33               0                        0                              0
34               0                        0                              0
35              14                        0                              0
36               0                        0                              0
37               0                        0                              0
38               0                        0                              0

    WEIGH_RECORD_COUNT_GROUP  INDIVIDUAL_WEIGHTS_JAN  INDIVIDUAL_WEIGHTS_FEB  \
0                          0                     0.0                     0.0
1                          0                     0.0                     0.0
2                          0                     0.0                     0.0
3                          0                     0.0                     0.0
4                          0                     0.0                     0.0
5                          0                     0.0                     0.0
6                          0                     0.0                     0.0
7                          0                     0.0                     0.0
8                          0                     0.0                     0.0
9                          0                     0.0                     0.0
10                         0                     0.0                     0.0
11                         0                     0.0                     0.0
12                         0                     0.0                     0.0
13                         0                     0.0                     0.0
14                         0                     0.0                     0.0
15                         0                     0.0                     0.0
16                         0                     0.0                     0.0
17                         0                     0.0                     0.0
18                         0                     0.0                     0.0
19                         0                     0.0                     0.0
20                         0                     0.0                     0.0
21                         0                     0.0                     0.0
22                         0                     0.0                     0.0